


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
	background: #EEEEEE;
	font-family: 'Roboto', sans-serif;
}
.card{
	width: 300px;
	border: none;
	border-radius: 15px;
}
.adiv{
	background: #083564;
	border-radius: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	font-size: 12px;
	height: 46px;
}
.chat{
	border: none;
	background: #c0c1e2;
	font-size: 14px;
	border-radius: 20px;
}
.bg-white{
	border: 0.5px solid #E7E7E9;
	font-size: 14px;
	border-radius: 20px;
}
.myvideo img{
	border-radius: 20px
}
.dot{
	font-weight: bold;
}
.form-control{
	border-radius: 12px;
	border: 1px solid #F0F0F0;
	font-size: 12px;
}
.form-control:focus{
	box-shadow: none;
	}
.form-control::placeholder{
	font-size: 8px;
	color: #C4C4C4;
}

.test{
	overflow:auto;
	height: 300px;
	width: 100%;
	background-color: #F0F0F0;
}

.edit-message {
	width: 100px;
	display: flex;
  flex-direction: column;
}

form.edit-message input[type="text"] {
  margin-top: 0.5rem;
  border: 1px solid transparent;
  background-color: white;
}

.delete-btn{
	border-radius: 5px;
}

form.edit-message input[type="text"]:focus {
  border: 1px solid yellow;
}

form.edit-message input[type="submit"] {
  margin-top: 0.5rem;
  width: 100px;
}
