* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



#navbar-main-div {
  background-color: rgb(242, 242, 242);
  width: 100%;
}

.navbar {
  display: flex;
  background-color: black;
  color: rgb(242, 242, 242);
}

.navbar-btn {
  display: inline-block;
  width: 50px;
  padding: 12px;
  border-radius: 10px;
  margin: 6px 6px   ;
  background: rgb(242, 242, 242);
  text-decoration: none;
  color: black;
}



.navbar-btn-container {
  margin: auto 0 auto auto;
}

.navbar-company-name {
  margin: auto auto auto 20px;
  font-size: 30px;
  font-weight: bold;
}

.navbar-company-logo{
  height: auto;
  width: 100px;
  padding: 10px;
}

.home-main {
  height: 100vh;
}

.home-page-section-1{
  background-color:rgb(242, 242, 242) ;
  height: 90%;
  
}

.home-page-section-1-container{
  display:flex ;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  background-color: bisque;
}

.home-page-section-1-hmp-message {
  width: 500px;
  height: 300px;
  margin: auto 100px auto 0;
}

.home-page-section-1-hmp-message h1{
  font-size: 50px;
}

.home-page-section-1-hmp-image img{
height:700px
}


.home-page-section-2 {
  height: 70%;
  background-color: black;
}

.home-page-section-2-container {
}