*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  
} 

:root {
  --color-primary: #FFB74D;;
  --color-secondary: #616161;
  --color-white: #ffffff;
  --color-black: #000;
  --color-blue: #5e91cf;

  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
}






.navbar-company-logo{
  height: auto;
  width: 100px;
  padding: 0px;
}

.home-main {
  height: 150vh;
  display: flex;
  flex-direction: column;
  gap: 5%;
}


.login {
  min-height: 90vh;
}

.bg-image {
  background-image: url('../../public/login_pictire.jpg');
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}


.carousel-container img{
  width: auto;
  height: 500px;
  object-fit:cover;
}


.card-container{
  display: flex;
  justify-content: center;
  gap: 8%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

}


.footer{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
 
}

.footer-top{
  font-size: 40px;
}


.footer-bottom{
  display: flex;
  width: 100%;
  height: 100px;
  margin-left: 10%;
}


.footer-links{
    float: right;
    display: block;
    height: auto;
    font-size: 17px;
}



/* VIDEO*/

#fs-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


#header-img {
  height: auto;
  width: 65%;
}


.screen {
  display:flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}







.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:34px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}








/*CARDS*/

.card-title {
  margin-bottom: .75rem;
  font-weight: 900;
  font-size: 15px;
  margin-top: 1.75rem;
}

.learn-more {
  color:  var(--color-blue);
}

.fa-angle-right {
  margin-left: 10px;
}

.fa-3x {
  color:  var(--color-blue);
}

.card-content {
  padding-right: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-content>p {
  color: #9E9E9E;
} 

.card .col-12 .col-md-3:hover {
  transform:scale(1.08);
  transition: all 0.4s ease-in-out;
}

#about-us {
  box-shadow: 0 3px 15px var(--color-blue);
}

